<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DataHub Home Page</title>
</head>

<body>
    This is the home page.


    <script>
        function clickUploadButton() {
            window.open('../upload');
        }

        function clickDownloadButton() {
            window.open('../download');
        }
    </script>

    <br />
    <br />
    <button type="button" onclick="clickUploadButton()">Upload file</button>

    <br />
    <br />
    <button type="button" onclick="clickDownloadButton()">Download file</button>

</body>

</html>